h1           { color: #0000AA; font-family: Arial, sans-serif; font-size: 48pt; text-align: center }
h2           { color: #0000AA; font-family: Arial, sans-serif; font-size: 15pt; text-align: left }
h3           { color: #0000FF; font-family: Arial, sans-serif; font-size: 12pt; text-align: center }
h4           { color: #000000; font-family: Arial, sans-serif; font-size: 12pt; text-align: center }
h5           { color: #000022; font-family: Arial, sans-serif; font-size: 10pt; text-align: left }
li           { color: #000080; font-family: "Times New Roman", serif; font-size: 12pt; text-align: left; font-style: italic; list-style-type: disc }
p            { color: #008888; font-family: "Times New Roman", serif; font-size: 12pt; text-align: left }
body 	     { background-color: #F0FFFF }

